<div class="list">

<div class="list card">
<a ui-sref="login">
<button class="button icon-left ion-home">Home</button></a>
<a ui-sref="history">
<button class="button icon-left">History</button></a>
<a ui-sref="list">
<button class="button icon-left">list</button></a>
<a ui-sref="Setting">
<button class="button icon-left">Setting</button></a>

<a class="item item-thumbnail-left" href="#">
      <img src="img/kam1.jpg">
       <h2>KITSADA ARSAYUT</h2>
      <p>................KAM...............</p>
    </a>

	<a class="item item-thumbnail-left" href="#">
      <img src="img/kam2.jpg">
       <h2>KITSADA ARSAYUT</h2>
      <p>................KAM...............</p>
    </a>

	<a class="item item-thumbnail-left" href="#">
      <img src="img/kam3.jpg">
       <h2>KITSADA ARSAYUT</h2>
      <p>................KAM...............</p>
    </a>

	<a class="item item-thumbnail-left" href="#">
      <img src="img/kam4.jpg">
      <h2>KITSADA ARSAYUT</h2>
      <p>................KAM...............</p>
    </a>

	<a class="item item-thumbnail-left" href="#">
      <img src="img/kam5.jpg">
       <h2>KITSADA ARSAYUT</h2>
      <p>................KAM...............</p>
    </a>


</div>
