<div class="list">

<div class="list card">
<a ui-sref="login">
<button class="button icon-left ion-home">Home</button></a>
<a ui-sref="history">
<button class="button icon-left">History</button></a>
<a ui-sref="list">
<button class="button icon-left">list</button></a>
<a ui-sref="Setting">
<button class="button icon-left">Setting</button></a>

<a ng-repeat = "list in datalist" class="item item-thumbnail-left" >
      <img src="{{list.pic}}">
       <h2>{{list.fname}}</h2>
      <p>{{list.lname}}</p>
    </a>



</div>
